<form (ngSubmit)="addTask()">
  <div *ngIf="error" class="alert alert-danger" role="alert">{{ error.detail }}</div>

  <shared-input-box [placeholder]="'Escribe aquí el titulo'" [title]="'Titulo'" (emitValue)="title =$event"></shared-input-box>
  <shared-input-box [placeholder]="'Escribe aquí la descripción'" [title]="'Descripción'" (emitValue)="description = $event"></shared-input-box>
  <div class="input-group mb-3">
    <button type="submit" class="btn btn-outline-primary w-100">Añadir</button>
  </div>
</form>
