<form (ngSubmit)="addTask()">
  <div class="input-group mb-3">
    <span class="input-group-text col-3" id="basic-addon1">Titulo</span>
    <input type="text" [(ngModel)]="newTask.title" class="form-control" placeholder="Añade aquí el titulo" aria-label="title" name="title"
      aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text col-3" id="basic-addon1">Descripción</span>
    <input type="text" [(ngModel)]="newTask.description" class="form-control" placeholder="Añade aquí la descripción" aria-label="Descripción"
      name="description" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <button type="submit" class="btn btn-outline-primary w-100">Añadir</button>
  </div>
</form>
